@import "/css/var.css";
@import "/css/mobile.css";
@import "/css/tablet.css";
*{margin: 0;
  padding: 0;
}

nav ul li:first-child {
  display: none;
}
.header{
    display: flex;
    justify-content: space-around;
    background-color: var(--mainColor);
    grid-area: header;
    padding: 10px;
}
nav ul li{
  display: inline-block;
}
nav ul{
  display: flex;
  gap: 50px;
}

#title{
margin: 0 auto;
padding: 50px 0;
 font-family: 'Noticia Text';
 font-style: normal;
 font-weight: 700;
 font-size: 50px;
 color: #1044FF;
 text-align: center;
 background-color: #FFE7E7;
}


.navigation{
    display:flex;
    justify-content: center;
    grid-area: nav;
}

.container{
  
  display: grid;
  padding: 3rem 6rem 0 6rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas :
  "header header header"
  "daniel daniel daniel"
  "main main main"
  "contact contact contact"
  "cole cole cole"
  "footer footer footer"
  ;
}


.main{
  padding: 0.5rem 1rem 0 1rem;
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas :
  "content content post"
  "content content post";
}

.content{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  grid-area: content;
  gap: 5px;
}
.item{
  flex-shrink: 1;
  flex-basis: 40%;
}
.post{
  grid-area: post;
}
.link{
  align-self: flex-start;
}

.daniel{
  grid-area: daniel;
  width: 100%;
}

.cole{
  background-color: #c0acc9;
  grid-area: cole;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "left-col right-col";
}
.cole ul{
  list-style: none;
}
.left-col{
  grid-area: left-col;
}
.right-col{
  grid-area: right-col;
  display: flex;
  gap: 2rem;
}
.footer{
    background-color: var(--secondColor);
    grid-area: footer;
    
}
.content img{
  width: 100%;
  margin-bottom: 1rem;
}
#share{
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #1044FF;

}
#contact-me{
  font-family: 'Noticia Text';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  color: #112A52;
}
.contact{
  background-color: var(--mainColor);
  grid-area: contact;
  
}
.communicate{
display:flex;
justify-content: center;
flex-wrap: wrap;
align-items: center;
padding: 20px;
gap: 6px;
}
.office, .call, .write{
  background: rgba(255, 255, 255, 0.55);
  border-radius: 10px;
  padding: 20px;
}
.communicate div{
  width: 100%;
}
.intro{
  flex-basis: 100%;
  flex-wrap: nowrap;
  flex-direction: column;
}
ol li {
  list-style-type: none;
}