@media(max-width: 400px){
    section.cole
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .right-col ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    body.container{
        padding: 0.5rem 1rem 0 1rem;
    }
    footer.footer{
        text-align: center;
    }
    main.main{
        grid-template-areas: 
        "content"
        "post";
    }
    main .post{
        display: flex;
        
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .content{
       flex-direction: column;
    }
    
}
/*@media (max-width: 400px) {
    .main{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas :
        "content"
        "post";
    }
    
    .content{
        grid-area: content;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas :
        "item-one"
        "item-two"
        "item-three"
        "item-forth";
        
      }
      .item-one{
        grid-area: item-one;
      }
      .item-two{
        grid-area: item-two;
      }
      .item-three{
        grid-area: item-three;
      }
      .item-forth{
        grid-area: item-forth;
      }
      .post{
        grid-area: post;
        display: none;
      }
      img{
        width: 100%;
      }
}*/